$white: #fff;
$black: #000;
$red: #ff0000;
$grey: #efefef;
$light-grey: #f3f3f3;
$dark-grey:#e1e4e6;
$light-blue: #00b4cf;
$dark-blue: #01869a;
$defautl-text-color: #2d4054;
$aside-background-color: #2d4054;
$menu-active-color: #435466;
$building-bg: #ff9a2a;
$idle-bg: #7fbc39;
$default-font-familiy: Avenir,
Helvetica,
Avrial,
sans-serif;
$default-font-size: 14px;